# Normalise les fins de ligne
* text=auto eol=lf

# assets.js = données générées (base64) : on masque ses diffs illisibles
assets.js linguist-generated=true -diff

# Images = binaire
*.png binary
*.jpg binary
*.webp binary
